a{
    cursor: pointer;
    text-decoration: underline;
}
body{
    line-height: 1px;
}
canvas{
	border: 1px solid #777;
	height: 25px;
	width: 25px;
}
.controls{
    line-height: 20px;
    padding: 4px;
}
input{
    font-size: 100%;
    text-align: center;
}
input[type=button]{
    cursor: pointer;
}
.pixel{
    background: #000;
    border: 1px solid #555;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.pixel-grid{
    border: 1px solid #fff;
}
